*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url(/IMG/bg.gif);
    background-size: cover;
}

.container::before {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: -1;
}

.example {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.form-group {
    margin: 30px;
    width: 400px;
    color: white;
}

/* The background image is different from the destop view */
@media only screen and (max-width:768px){
    body{
        background-image: url(/IMG/eren.gif);
    }
  .form-group{
    width: 90vw;
  }
}